.mySyle1_En{
  margin-left: 200px;
}
.mySyle1_Ar{
  margin-right: 200px;
}

.myStyle2_En{
  color: rgb(90, 37, 141);
  padding: 20px;
}
.myStyle2_Ar{
  color: rgb(89, 155, 248);
  padding: 20px;
}